# Ignore these files and types
*.egg-info
*.h5
*.idea
*.parquet
*.pkl
*.pyc

# Ignore everything in these directories
models/dl_runs/*
models/model_summaries/*
models/trained_models/*
data/external/*
data/processed/*
data/raw/*
outputs/figures/*
outputs/reports/*
.vscode/*

# Un-ignore the directories themselves
!models/dl_runs/
!models/model_summaries/
!models/trained_models/
!data/
!data/external/
!data/external/exampledb/
!data/processed/
!data/raw/
!outputs/figures/
!outputs/reports/
