# Ignore these files and types
*.egg-info
*.h5
*.idea
*.parquet
*.pkl
*.pyc

# Ignore everything inside specific directories but keep the directories themselves
models/dl_runs/**
!models/dl_runs/.gitkeep

models/model_summaries/**
!models/model_summaries/.gitkeep

models/trained_models/**
!models/trained_models/.gitkeep

data/external/**
!data/external/.gitkeep
!data/external/exampledb/.gitkeep

data/processed/**
!data/processed/.gitkeep

data/raw/**
!data/raw/.gitkeep

outputs/figures/**
!outputs/figures/.gitkeep

outputs/reports/**
!outputs/reports/.gitkeep

.vscode/**

