# Ignore these files and types
requirements.txt
*.egg-info
*.idea

# Ignore everything in these directories
models/model_summaries/*
models/trained_models/*
data/external/*
data/processed/*
data/raw/*
outputs/figures/*
outputs/reports/*

# But keep the california_housing.csv, explicitly un-ignored
!data/external/exampledb/
*.pyc
